{{ ansible_managed | comment }}
# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# or latest version online at http://www.rsyslog.com/doc/rsyslog_conf.html 
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### GLOBAL DIRECTIVES ####

global(
{% for key in rsyslog_global %}
    {{ key }}="{{ rsyslog_global[key] }}"
{% endfor %}
)

{% for key in rsyslog_directives %}
{{ key }} {{ rsyslog_directives[key] }}
{% endfor %}

#### MODULES ####

{% for module in rsyslog_module %}
module(
    {% for key in module -%}
    {{ key }}="{{ module[key] }}"
    {% endfor %}
)
{% endfor %}

{% for include in rsyslog_include -%}
$IncludeConfig "{{ include }}"
{% endfor %}

#### RULES ####
{% for rule in rsyslog_rules %}

{% if 'comment' in rule.keys() -%}
{{ rule['comment'] | comment('plain', prefix='', postfix='') -}}
{% endif %}
{{ rule['selector'] }} {{ rule['action'] }}
{% endfor %}

#### ACTIONS ####

{% for action in rsyslog_action -%}
action(
    {% for key in action -%}
    {{ key }}="{{ action[key] }}"
    {% endfor %}
)
{% endfor %}
